{% extends 'base/front_base.html' %}
{% block title %}
小饭桌首页
{% endblock %}

<!-- 需要的静态文件 -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/index.min.css' %}">
<script src="{% static 'js/index.min.js' %}"></script>
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="news-wrapper">
            <div class="banner-group">
                <ul class="banner-ul" id="banner-UI">
                    <li><a href="#">
                        <img src="https://static-image.xfz.cn/1598497537_740.jpg" alt="">
                    </a></li>
                    <!-- <li><a href="#">
                        <img src="https://static-image.xfz.cn/1596767088_986.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="https://static-image.xfz.cn/1598497537_740.jpg" alt="">
                    </a></li>
                    <li><a href="#">
                        <img src="https://static-image.xfz.cn/1596767088_986.jpg" alt="">
                    </a></li> -->
                </ul>
            </div>
            <div class="news-list">
                <ul class="top-back"></ul>
                <ul class="list-type">
                    <li class="active"><a href="">最新资讯</a></li>
                    <li><a href="">热点</a></li>
                    <li><a href="">深度报告</a></li>
                    <li><a href="">干活分享</a></li>
                    <li><a href="">投资分享</a></li>
                </ul>
                <ul class="inner-group">
                    <li>
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1598839983_265.jpg-website.news.list" alt="">
                        </div>
                        <div class="news-group">
                            <p class="title"><a href="">「火鸡电器」获数千万元人民币A轮投资 投资方为青松基金</a></p>
                            <p class="desc">此次融资后，「火鸡电器」将继续在产品研发、营销渠道上持续发力。</p>
                            <div class="more">
                                <span class="category">深度报道</span>
                                <span class="pub-time">1小时前</span>
                                <span class="auth">like</span>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="thumbnail">
                            <img src="https://static-image.xfz.cn/1598839983_265.jpg-website.news.list" alt="">
                        </div>
                        <div class="news-group">
                            <p class="title"><a href="">「火鸡电器」获数千万元人民币A轮投资 投资方为青松基金</a></p>
                            <p class="desc">此次融资后，「火鸡电器」将继续在产品研发、营销渠道上持续发力。</p>
                            <div class="more">
                                <span class="category">深度报道</span>
                                <span class="pub-time">1小时前</span>
                                <span class="auth">like</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="load-more-group">
                <button class="load-more">查看更多</button>
            </div>
        </div>
        {% include 'common/sidebar.html' %}
    </div>
</div>
{% endblock %}