<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../dist/css/index.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2022568_qb2ynmbtmpn.css">
    <title>自习课堂</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/"></a>
            </div>
            <ul class="navigator">
                <li><a href="">资讯</a></li>
                <li><a href="">创业课堂</a></li>
                <li><a href="">企业服务</a></li>
                <li><a href="">搜索</a></li>
            </ul>
            <div class="auth-box">
                <i class="icon-person iconfont"></i>
                <div><a href="">登入</a></div>
                <div><a href="">注册</a></div>
            </div>
        </div>
    </header>
    <div class="main">
        <div class="wrapper">
            <div class="news-wrapper"></div>
            <div class="sidebar-wrapper"></div>
        </div>
    </div>
</body>
</html>