<div class="sidebar-wrapper">
    <div class="title-group">
        <span class="title">在线课堂</span>
        <span class="moe"><a href="">更多</a></span>
    </div>
    <div class="advertise-group">
        <img src="https://static-image.xfz.cn/1554346383_8.png" alt="">
    </div>

    <div class="platform-group">
        <div class="title-group">
            <span class="title">关注小饭桌</span>
        </div>
        <div class="focus-group">
            <ul class="left-group">
                <li class="zhihu">
                    <a href="">小饭桌创业课堂</a>
                </li>
                <li class="weibo">
                    <a href="">小饭桌创业课堂</a>
                </li>
                <li class="toutiao">
                    <a href="">小饭桌</a>
                </li>
            </ul>
            <div class="wechat-code">
                <p class="desc">创业课堂</p>
            </div>
        </div>
    </div>

    <div class="hot-news">
        <div class="title-group">
            <span class="title">热门标题</span>
        </div>
        <ul class="hot-group">
            <li>
                <div class="hot-group-left">
                    <p class="title">
                        <a href="">「火花思维」获1.5亿美元E1轮融资 由KKR领投</a>
                    </p>
                    <p class="more-info">
                        <span class="category">融资消息</span>
                        <span class="pub-time">08月26日</span>
                    </p>
                </div>
                <div class="hot-group-right">
                    <img src="https://static-image.xfz.cn/1598428749_51.jpg-website.news.list" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>